

@using mtv_management_leave.Models.LeaveBonus
@model SearchRequest
@{
    ViewBag.Title = "Summary leave annual management";
}

<div class="card">
    <div class="card-header">
        <h2>@ViewBag.Title<small>List data summary leave annual</small></h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">

                <div class="col-sm-2">
                    @Html.vDateTimePickerFor(m => m.DateStart).SetViewMode(mtv_management_leave.Lib.Common.DateTimePickerViewMode.Month).ToHtml()
                </div>
                <div class="col-sm-4">
                    @Html.vDropDownListFor(m => m.Uids, Html.GetT<List<SelectListItem>>("system", "UserToDropdown"), true, true)
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-default" id="btn-search"><i class="zmdi zmdi-search"></i> Search</button>
                    <button class="btn btn-primary" id="btn-generatemonth"><i class="zmdi zmdi-search"></i> Generate Month</button>
                    <button class="btn btn-success" id="btn-generateyear"><i class="zmdi zmdi-search"></i> Generate Year</button>
                </div>
            </div>
        </div>
        @(Html.vBootGridFor()
        .SetName("summaryLeaveAnnual-table")
        .SetAjaxUrl("/summaryLeaveAnnualManagement/tolist")
        .AddAjaxParameter(typeof(SearchRequest))
        .AddColumnRange(
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Id", FormatJqueryHandler = "validRow", Identify = true, MappingFrom = "Id" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Uid", FormatJqueryHandler = "validRow", Identify = true, MappingFrom = "Uid" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Full name", FormatJqueryHandler = "validRow", MappingFrom = "FullName" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Month", FormatJqueryHandler = "validRow", MappingFrom = "MonthDisplay" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Leave Available", FormatJqueryHandler = "validRow", MappingFrom = "LeaveAvailable" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Leave Used", FormatJqueryHandler = "validRow", MappingFrom = "LeaveUsed" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Leave Remain", FormatJqueryHandler = "validRow", MappingFrom = "LeaveRemain" }
        )
        .ToHtml()
        )
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        $("#btn-search").click(function (e) {
            $("#summaryLeaveAnnual-table").bootgrid("reload");
        });
        var validRow = function (col, row) {
            return row[col.id];
        };
        var validRowDate = function (col, row) {
            return dateConvert(row[col.id]);
        }
        $("#btn-generatemonth").click(function (e) {
            e.preventDefault();
            toogle("summaryLeaveAnnualManagement/reCalculateMonth");
        })
        $("#btn-generateyear").click(function (e) {
            e.preventDefault();
            toogle("summaryLeaveAnnualManagement/reCalculateYear");
        })

        var toogle = function (urlCallback) {
            var start = $("[name=DateStart]").val();
            var lstUids = $("#Uids").val();
            swal({
                title: "Confirm!",
                type: "info",
                text: "Do you want continue?",
                showCloseButton: true,
                showCancelButton: true,
                showConfirmButton: true,
                allowOutsideClick: true,
                showLoaderOnConfirm: true
            }).then(
                function () {

                    var option = {
                        url: urlCallback,
                        type: "POST",
                        data: { DateStart: start, Uids: lstUids }
                    };
                    $.ajax(option)
                        .done(function (data) {
                            console.log(data);
                            alert("Done!");
                        })
                        .error(function (jhx) {
                            showAjaxError(jhx);
                        })
                },
                // handling the promise rejection
                function (dismiss) {
                    console.log("swal confirm closed");
                });
        }
    </script>
}