@model string
@{
    var isAdmin = string.Equals(Model, "Super admin", StringComparison.CurrentCultureIgnoreCase) ||
                    string.Equals(Model, "Admin", StringComparison.CurrentCultureIgnoreCase);
}

<ul class="main-menu">
    <li class="active">
        <a href="/"><i class="zmdi zmdi-home"></i> Home</a>
    </li>
    @{
        if (isAdmin)
        {
            <li><a href="/employee/register"><i class="zmdi zmdi-account-add"></i> Register User</a></li>
            <li><a href="/employee"><i class="zmdi zmdi-accounts"></i> Employee Information</a></li>
        }
    }
    <li class="sub-menu">
        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-assignment-return"></i>Leave</a>
        <ul>
            <li><a href="/registerleave">Register Leave</a></li>
            @{
                if (isAdmin)
                {
                    <li><a href="/leavemanagement">Managemenet Leave</a></li>
                }
            }
        </ul>
    </li>

    <li class="sub-menu">
        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-flip"></i> In-Out</a>
        <ul>
            <li><a href="/InOut">List In-Out</a></li>
            @{
                if (isAdmin)
                {
                    <li><a href="/InOutManagement">Management In-Out</a></li>
                }
            }
        </ul>
    </li>
    @*need find an icon for each menu*@
    <li class="sub-menu">
        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-functions"></i> Summary Annual leave</a>
        <ul>
            <li><a href="/summaryLeaveAnnual">Summary Annual Leave</a></li>
            @{
                if (isAdmin)
                {
                    <li><a href="/summaryLeaveAnnualManagement">Summary Annual Leave Management</a></li>
                }
            }
        </ul>
    </li>
    <li class="sub-menu">
        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-refresh-sync-alert"></i>Request Change In-Out</a>
        <ul>
            <li><a href="/changeinout">Change In-out</a></li>
            @{
                if (isAdmin)
                {
                    <li><a href="/changeinoutmanagement">Management Change In-Out</a></li>
                }
            }
        </ul>
    </li>
    @if (isAdmin)
    {
        <li><a href="/leavebonus"><i class="zmdi zmdi-collection-plus"></i> Add Leave Bonus</a></li>
        <li><a href="/availablebeginyear"><i class="zmdi zmdi-star-circle"></i> Available Begin Year</a></li>
        <li><a href="/userseniority"><i class="zmdi zmdi-iridescent"></i> User seniority </a></li>
        <li><a href="/masterdayoffcompany"><i class="zmdi zmdi-city-alt"></i> Dayoff company</a></li>

    }
    <li><a href="/account/logout"><i class="zmdi zmdi-sign-in"></i> Logout</a></li>
</ul>

