@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-content">
    <!-- Forgot Password -->
    <div class="lc-block toggled" id="l-forget-password">
        <div class="lcb-form">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>

    </div>
</div>