@using mtv_management_leave.Models.Request;
@model RequestMasterDayOff
@{
    ViewBag.Title = "Day Off Company";
}

<div class="card">
    <div class="card-header">
        <h2>@ViewBag.Title<small>You can check all leave of company</small></h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                @Html.vDateTimePickerFor(m => m.DateStart).SetViewMode(mtv_management_leave.Lib.Common.DateTimePickerViewMode.Date).ToHtml().Wrap("div", new { @class = "col-sm-4" })
                @Html.vDateTimePickerFor(m => m.DateEnd).SetViewMode(mtv_management_leave.Lib.Common.DateTimePickerViewMode.Date).ToHtml().Wrap("div", new { @class = "col-sm-4" })
                <div class="col-sm-4">
                    <button class="btn btn-default" id="btn-search"><i class="zmdi zmdi-search"></i> Search</button>
                    <button class="btn btn-primary" id="btn-register"><i class="zmdi zmdi-plus"></i> Create New</button>
                    <button class="btn btn-danger" id="btn-delete"><i class="zmdi zmdi-delete"></i> Delete</button>
                </div>
            </div>
        </div>
        @(Html.vBootGridFor()
        .SetName("DayOffCompany-Table")
        .SetAjaxUrl("/MasterDayOffCompany/tolist")
        .AddAjaxParameter(typeof(RequestMasterDayOff))
        .AddColumnRange(
            new BootGridColumnOption { Sortable = false, Identify = true, ColumnHeaderName = "Id", MappingFrom = "Id" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Day Off", FormatJqueryHandler = "validRowDate", MappingFrom = "DateLeave" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Description", MappingFrom = "Reason" }
        )
        .ToHtml()
        )
    </div>

</div>
<div class="modal fade" id="modalRegisterDayOffCompany" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Register Day Off Company</h2>
            </div>
            <div class="modal-body">
                @*@Html.Action("RegisterDayOffCompany")*@
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="modal-save"><i class="zmdi zmdi-save"></i> Save changes</button>
            <button type="button" class="btn btn-default" id="modal-close" data-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#btn-search").click(function (e) {
            $("#DayOffCompany-Table").bootgrid("reload");
        });

        $("#btn-register").click(function (e) {
            $("#modalRegisterDayOffCompany").modal("show");
            swal.close();

        });

        var validRow = function (col, row) {
            return row[col.id];
        };
        var validRowDate = function (col, row) {
            return dateConvert(row[col.id]);
        }

        $("#btn-delete").click(function (e) {
            e.preventDefault();
            toogle("/MasterDayOffCompany/delete");
        })

        $("#modalRegisterDayOffCompany").on('show.bs.modal', function () {
            var option = {
                url: "/MasterDayOffCompany/RegisterDayOffCompany",
                type: "GET"
            };
            $.ajax(option).done(function (data) {
                setupModalBodyFrom(data);
            });
        });

        var setupModalBodyFrom = function (data) {
            $(".modal-body").html(data);
            registerBootstrapControl();
        }
        var registerBootstrapControl = function () {
            $(".modal-body .time-picker").datetimepicker({ format: "LT" });
            $(".modal-body .date-picker").datetimepicker({ format: "MM/DD/YYYY" });
            $('.modal-body .selectpicker').selectpicker('render');
        }

        $("#modalRegisterDayOffCompany").on('hidden.bs.modal', function () {
            $(".modal-body").html("");
        });

        $("#modal-save").click(function (e) {
            e.preventDefault();
            var form = $(".modal-body form");
            var url = form.attr("action");
            var data = form.serialize();
            var option = {
                url: url,
                type: "POST",
                data: data
            }
            $.ajax(option).done(function (data) {
                $("#modal-close").click();
                $("#btn-search").click();
            });
        })
        var toogle = function (urlCallback) {
            var selectedIds = $("#DayOffCompany-Table").bootgrid("getSelectedRows");
            if (selectedIds.length == 0) return;
            swal({
                title: "Confirm!",
                type: "info",
                text: "Do you want continue?",
                showCloseButton: true,
                showCancelButton: true,
                showConfirmButton: true,
                allowOutsideClick: true,
                showLoaderOnConfirm: true
            }).then(
                function () {

                    var option = {
                        url: urlCallback,
                        data: { Ids: selectedIds },
                        type: "POST"
                    };
                    $.ajax(option)
                        .done(function (data) {
                            notify("Your request has complete.", "success");
                        })
                        .error(function (jhx) {
                            showAjaxError(jhx);
                        })
                },
                // handling the promise rejection
                function (dismiss) {
                    console.log("swal confirm closed");
                });
        }
    </script>
}