@{
    ViewBag.Title = "Home Page";
}

<div class="container-alt">
    <div class="block-header block-header-calendar">
        <h2>
            <span></span>
            <small>In calendar will show event of company as: birthday, leave date</small>
        </h2>

        <ul class="actions actions-calendar">
            <li><a class="calendar-next" href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
            <li><a class="calendar-prev" href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>

            <li class="dropdown">
                <a href="#" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li><a href="#" data-calendar-view="month"><i class="zmdi zmdi-view-comfy active"></i> Month View</a></li>
                    <li><a href="#" data-calendar-view="basicWeek"><i class="zmdi zmdi-view-week"></i> Week View</a></li>
                    <li><a href="#" data-calendar-view="basicDay"><i class="zmdi zmdi-view-day"></i> Day View</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="calendar" class="card"></div>

    <!-- Add event -->
    <div class="modal fade" id="modal-new-event" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add an Event</h4>
                </div>
                <div class="modal-body">
                    <form class="form-event" role="form">
                        <div class="form-group">
                            <div class="fg-line">
                                <input type="text" class="input-sm form-control" id="new-event-title" placeholder="Event Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="event-tag">
                                <span class="bgm-blue">
                                    <input type="radio" value="bgm-blue" name="event-tag" checked="">
                                    <i></i>
                                </span>
                                <span class="bgm-teal">
                                    <input type="radio" value="bgm-teal" name="event-tag">
                                    <i></i>
                                </span>
                                <span class="bgm-red">
                                    <input type="radio" value="bgm-red" name="event-tag">
                                    <i></i>
                                </span>
                                <span class="bgm-green">
                                    <input type="radio" value="bgm-green" name="event-tag">
                                    <i></i>
                                </span>
                                <span class="bgm-cyan">
                                    <input type="radio" value="bgm-cyan" name="event-tag">
                                    <i></i>
                                </span>
                                <span class="bgm-amber">
                                    <input type="radio" value="bgm-amber" name="event-tag">
                                    <i></i>
                                </span>
                                <span class="bgm-purple">
                                    <input type="radio" value="bgm-purple" name="event-tag">
                                    <i></i>
                                </span>
                            </div>
                        </div>

                        <input type="hidden" id="new-event-start" />
                        <input type="hidden" id="new-event-end" />
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-link" id="btn-add-event">Add Event</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit event -->
    <div class="modal fade" id="modal-edit-event" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Event</h4>
                </div>

                <div class="modal-body">
                    <form class="edit-event__form">
                        <div class="form-group">
                            <div class="fg-line">
                                <input type="text" class="form-control edit-event-title" placeholder="Event Title">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="event-tag event-tag-edit">
                                <span class="bgm-blue">
                                    <input type="radio" value="bgm-blue" name="event-tag" checked="">
                                    <i></i>
                                </span>
                                <span class="bgm-teal">
                                    <input type="radio" value="bgm-teal" name="event-tag">
                                    <i></i>
                                </span>
                                <span class="bgm-red">
                                    <input type="radio" value="bgm-red" name="event-tag">
                                    <i></i>
                                </span>
                                <span class="bgm-green">
                                    <input type="radio" value="bgm-green" name="event-tag">
                                    <i></i>
                                </span>
                                <span class="bgm-cyan">
                                    <input type="radio" value="bgm-cyan" name="event-tag">
                                    <i></i>
                                </span>
                                <span class="bgm-amber">
                                    <input type="radio" value="bgm-amber" name="event-tag">
                                    <i></i>
                                </span>
                                <span class="bgm-purple">
                                    <input type="radio" value="bgm-purple" name="event-tag">
                                    <i></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="fg-line">
                                <textarea class="form-control edit-event-description auto-size" placeholder="Event Desctiption"></textarea>
                            </div>
                        </div>

                        <input type="hidden" class="edit-event-id">
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-link" data-calendar="update">Update</button>
                    <button class="btn btn-link" data-calendar="delete">Delete</button>
                    <button class="btn btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var getEvents = function () {
            var dateStart = $('#calendar').fullCalendar('getView').start.format("MM/DD/YYYY");
            var dateEnd = $('#calendar').fullCalendar('getView').end.format("MM/DD/YYYY");
            console.log("--> calendar start date: " + dateStart);
            console.log("--> calendar end date: " + dateEnd);
            var option = {
                url: "/master/GetCalendarEvent",
                type: "POST",
                global: false,
                data: { Start: dateStart, End: dateEnd }
            };

            $.ajax(option).done(function (data) {
                $('#calendar').fullCalendar('addEventSource', data);
            });
        };

        $(document).ready(function () {
            var date = new Date();
            var m = date.getMonth();
            var y = date.getFullYear();
            var target = $('#calendar');

            target.fullCalendar({
                header: {
                    right: '',
                    center: '',
                    left: ''
                },

                theme: false,
                selectable: true,
                selectHelper: true,
                editable: true, 
                viewRender: function (view) {
                    var calendarDate = $("#calendar").fullCalendar('getDate');
                    var calendarMonth = calendarDate.month();

                    //Set data attribute for header. This is used to switch header images using css
                    $('#calendar .fc-toolbar').attr('data-calendar-month', calendarMonth);

                    //Set title in page header
                    $('.block-header-calendar > h2 > span').html(view.title);
                }
            });

            getEvents();

            //Add new Event
            $('body').on('click', '#btn-add-event', function () {
                var eventTitle = $('#new-event-title').val();

                var GenRandom = {
                    Stored: [],
                    Job: function () {
                        var newId = Date.now().toString().substr(6); // or use any method that you want to achieve this string

                        if (!this.Check(newId)) {
                            this.Stored.push(newId);
                            return newId;
                        }
                        return this.Job();
                    },
                    Check: function (id) {
                        for (var i = 0; i < this.Stored.length; i++) {
                            if (this.Stored[i] == id) return true;
                        }
                        return false;
                    }
                };

                if (eventTitle != '') {
                    $('#calendar').fullCalendar('renderEvent', {
                        id: GenRandom.Job(),
                        title: eventTitle,
                        start: $('#new-event-start').val(),
                        end: $('#new-event-end').val(),
                        allDay: true,
                        className: $('.event-tag input:checked').val()

                    }, true);

                    $('.form-event')[0].reset()
                    $('#modal-new-event').modal('hide');
                    $('#new-event-title').closest('.form-group').removeClass('has-error');
                }
                else {
                    $('#new-event-title').closest('.form-group').addClass('has-error');
                    $('#new-event-title').focus();
                }
            });


            //Update/Delete an Event
            $('body').on('click', '[data-calendar]', function () {
                var calendarAction = $(this).data('calendar');
                var currentId = $('.edit-event-id').val();
                var currentTitle = $('.edit-event-title').val();
                var currentDesc = $('.edit-event-description').val();
                var currentClass = $('.event-tag-edit input:checked').val();
                var currentEvent = $('#calendar').fullCalendar('clientEvents', currentId);

                //Update
                if (calendarAction === 'update') {
                    if (currentTitle != '') {
                        currentEvent[0].title = currentTitle;
                        currentEvent[0].description = currentDesc;
                        currentEvent[0].className = currentClass;

                        $('#calendar').fullCalendar('updateEvent', currentEvent[0]);
                        $('#modal-edit-event').modal('hide');
                    }
                    else {
                        $('.edit-event-title').closest('.form-group').addClass('has-error');
                        $('.edit-event-title').focus();
                    }
                }

                //Delete
                if (calendarAction === 'delete') {
                    $('#modal-edit-event').modal('hide');

                    setTimeout(function () {
                        swal({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then(function () {
                            target.fullCalendar('removeEvents', currentId);
                            swal(
                                'Deleted!',
                                'Your list has been deleted.',
                                'success'
                            );
                        })
                    }, 200);
                }
            });


            //Calendar views switch
            $('body').on('click', '[data-calendar-view]', function (e) {
                e.preventDefault();

                $('[data-calendar-view]').removeClass('active');
                $(this).addClass('active');
                var calendarView = $(this).attr('data-calendar-view');
                target.fullCalendar('changeView', calendarView);
            });


            //Calendar Next
            $('body').on('click', '.calendar-next', function (e) {
                e.preventDefault();
                target.fullCalendar('next');
                setTimeout(function () { getEvents() }, 200);
            });


            //Calendar Prev
            $('body').on('click', '.calendar-prev', function (e) {
                e.preventDefault();
                target.fullCalendar('prev');
                setTimeout(function () { getEvents() }, 200);
            });
        });
    </script>
}