USE [LeaveManagement]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddLeave]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddLeave](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[MasterLeaveType_Id] [int] NULL,
	[AddLeaveHour] [float] NULL,
	[DateAdd] [datetime] NULL,
	[Reason] [nvarchar](max) NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AddLeave] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[IsShow] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsShow] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NULL,
	[UserPermission] [tinyint] NOT NULL,
	[DateBeginWork] [datetime] NULL,
	[DateBeginProbation] [datetime] NULL,
	[DateResign] [datetime] NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[PasswordResetToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataBeginYear]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataBeginYear](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[AnnualLeave] [float] NOT NULL,
	[DateBegin] [datetime] NOT NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.DataBeginYear] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataInOutRaw]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataInOutRaw](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Time] [datetime] NOT NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[Uid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DataInOutRaw] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeInfo]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeInfo](
	[Id] [int] NOT NULL,
	[FPId] [int] NOT NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.EmployeeInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InOut]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InOut](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[Intime] [datetime] NOT NULL,
	[OutTime] [datetime] NULL,
	[Date] [datetime] NOT NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[IsModify] [bit] NULL,
 CONSTRAINT [PK_dbo.InOut] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveMonthly]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveMonthly](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[Month] [datetime] NOT NULL,
	[LeaveAvailable] [float] NULL,
	[LeaveUsed] [float] NULL,
	[LeaveRemain] [float] NULL,
	[LeaveNonPaid] [float] NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.LeaveMonthly] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterLeaveDayCompany]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterLeaveDayCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MasterLeaveDayCompany] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterLeaveType]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterLeaveType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsPaidLeave] [bit] NULL,
	[IsBussinessLeave] [bit] NULL,
	[LeaveCode] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MasterLeaveType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegisterLeave]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterLeave](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[DateStart] [datetime] NOT NULL,
	[DateEnd] [datetime] NOT NULL,
	[RegisterHour] [float] NULL,
	[Reason] [nvarchar](max) NULL,
	[DateRegister] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[UserApprove] [int] NULL,
	[DateApprove] [datetime] NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.RegisterLeave] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestChangeInout]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestChangeInout](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[Intime] [datetime] NULL,
	[OutTime] [datetime] NULL,
	[Date] [datetime] NOT NULL,
	[status] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.RequestChangeInout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSeniority]    Script Date: 10/20/2017 6:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSeniority](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[Year] [int] NULL,
	[Month1] [int] NULL,
	[Month2] [int] NULL,
	[Month3] [int] NULL,
	[Month4] [int] NULL,
	[Month5] [int] NULL,
	[Month6] [int] NULL,
	[Month7] [int] NULL,
	[Month8] [int] NULL,
	[Month9] [int] NULL,
	[Month10] [int] NULL,
	[Month11] [int] NULL,
	[Month12] [int] NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.UserSeniority] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [IsShow]) VALUES (4, N'Super admin', 0)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [IsShow]) VALUES (5, N'Admin', 1)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [IsShow]) VALUES (6, N'User', 1)
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [IsShow]) VALUES (1, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[DataBeginYear] ON 

INSERT [dbo].[DataBeginYear] ([Id], [Uid], [AnnualLeave], [DateBegin], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (1, 1, 12, CAST(N'2017-10-20T00:00:00.000' AS DateTime), 2, 2, CAST(N'2017-10-20T17:26:07.323' AS DateTime), CAST(N'2017-10-20T17:26:07.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[DataBeginYear] OFF
SET IDENTITY_INSERT [dbo].[DataInOutRaw] ON 

INSERT [dbo].[DataInOutRaw] ([Id], [Time], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated], [Uid]) VALUES (1569, CAST(N'2017-09-25T11:10:36.000' AS DateTime), 1, 1, CAST(N'2017-10-11T18:04:08.187' AS DateTime), CAST(N'2017-10-11T18:04:08.187' AS DateTime), 36)
INSERT [dbo].[DataInOutRaw] ([Id], [Time], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated], [Uid]) VALUES (1570, CAST(N'2017-09-25T11:17:01.000' AS DateTime), 1, 1, CAST(N'2017-10-11T18:04:08.187' AS DateTime), CAST(N'2017-10-11T18:04:08.187' AS DateTime), 41)
INSERT [dbo].[DataInOutRaw] ([Id], [Time], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated], [Uid]) VALUES (1571, CAST(N'2017-09-25T11:23:04.000' AS DateTime), 1, 1, CAST(N'2017-10-11T18:04:08.187' AS DateTime), CAST(N'2017-10-11T18:04:08.187' AS DateTime), 43)
GO
SET IDENTITY_INSERT [dbo].[DataInOutRaw] OFF
INSERT [dbo].[EmployeeInfo] ([Id], [FPId], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (1, 1, 0, 0, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2000-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[EmployeeInfo] ([Id], [FPId], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (2, 2, 0, 0, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2000-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[EmployeeInfo] ([Id], [FPId], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (3, 3, 0, 0, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2000-01-01T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[InOut] ON 

INSERT [dbo].[InOut] ([Id], [Uid], [Intime], [OutTime], [Date], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated], [IsModify]) VALUES (1, 9, CAST(N'2017-10-20T06:57:22.000' AS DateTime), CAST(N'2017-10-20T07:01:13.000' AS DateTime), CAST(N'2017-10-20T00:00:00.000' AS DateTime), 2, 2, CAST(N'2017-10-20T15:49:47.957' AS DateTime), CAST(N'2017-10-20T15:49:47.957' AS DateTime), NULL)
INSERT [dbo].[InOut] ([Id], [Uid], [Intime], [OutTime], [Date], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated], [IsModify]) VALUES (2, 36, CAST(N'2017-10-20T07:12:52.000' AS DateTime), NULL, CAST(N'2017-10-20T00:00:00.000' AS DateTime), 2, 2, CAST(N'2017-10-20T15:49:47.957' AS DateTime), CAST(N'2017-10-20T15:49:47.957' AS DateTime), NULL)
INSERT [dbo].[InOut] ([Id], [Uid], [Intime], [OutTime], [Date], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated], [IsModify]) VALUES (3, 28, CAST(N'2017-10-20T07:41:43.000' AS DateTime), NULL, CAST(N'2017-10-20T00:00:00.000' AS DateTime), 2, 2, CAST(N'2017-10-20T15:49:47.957' AS DateTime), CAST(N'2017-10-20T15:49:47.957' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[InOut] OFF
SET IDENTITY_INSERT [dbo].[MasterLeaveType] ON 

INSERT [dbo].[MasterLeaveType] ([Id], [Name], [IsPaidLeave], [IsBussinessLeave], [LeaveCode], [Description], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (1, N'Annual Leave', 1, NULL, N'E_AnnualLeave', N'E_AnnualLeave', 0, 0, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2000-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[MasterLeaveType] ([Id], [Name], [IsPaidLeave], [IsBussinessLeave], [LeaveCode], [Description], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (2, N'Bussiness Leave', 1, 1, N'E_BussinessLeave', N'E_BussinessLeave', 0, 0, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2000-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[MasterLeaveType] ([Id], [Name], [IsPaidLeave], [IsBussinessLeave], [LeaveCode], [Description], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (3, N'Materity', NULL, NULL, N'E_Materity', N'E_Materity', 0, 0, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2000-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MasterLeaveType] OFF
SET IDENTITY_INSERT [dbo].[RegisterLeave] ON 

INSERT [dbo].[RegisterLeave] ([Id], [Uid], [LeaveTypeId], [DateStart], [DateEnd], [RegisterHour], [Reason], [DateRegister], [Status], [UserApprove], [DateApprove], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (1, 2, 1, CAST(N'2017-10-20T08:00:00.000' AS DateTime), CAST(N'2017-10-20T17:00:00.000' AS DateTime), 8, N'leave annual sick', CAST(N'2017-10-20T00:00:00.000' AS DateTime), 0, NULL, NULL, 2, 2, CAST(N'2017-10-20T14:02:34.553' AS DateTime), CAST(N'2017-10-20T14:02:34.553' AS DateTime))
SET IDENTITY_INSERT [dbo].[RegisterLeave] OFF
SET IDENTITY_INSERT [dbo].[UserSeniority] ON 

INSERT [dbo].[UserSeniority] ([Id], [Uid], [Year], [Month1], [Month2], [Month3], [Month4], [Month5], [Month6], [Month7], [Month8], [Month9], [Month10], [Month11], [Month12], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (1, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, CAST(N'2017-10-20T14:12:39.727' AS DateTime), CAST(N'2017-10-20T14:12:39.727' AS DateTime))
INSERT [dbo].[UserSeniority] ([Id], [Uid], [Year], [Month1], [Month2], [Month3], [Month4], [Month5], [Month6], [Month7], [Month8], [Month9], [Month10], [Month11], [Month12], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (2, 3, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, CAST(N'2017-10-20T14:12:39.727' AS DateTime), CAST(N'2017-10-20T14:12:39.727' AS DateTime))
INSERT [dbo].[UserSeniority] ([Id], [Uid], [Year], [Month1], [Month2], [Month3], [Month4], [Month5], [Month6], [Month7], [Month8], [Month9], [Month10], [Month11], [Month12], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (3, 4, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, CAST(N'2017-10-20T14:12:39.727' AS DateTime), CAST(N'2017-10-20T14:12:39.727' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserSeniority] OFF
ALTER TABLE [dbo].[AspNetRoles] ADD  DEFAULT ((0)) FOR [IsShow]
GO
ALTER TABLE [dbo].[AspNetUserRoles] ADD  DEFAULT ((0)) FOR [IsShow]
GO
