/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.900)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [LeaveManagement]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/23/2017 4:34:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddLeave]    Script Date: 9/23/2017 4:34:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddLeave](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[AddLeaveHour] [float] NULL,
	[DateAdd] [date] NULL,
	[Reason] [nvarchar](200) NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_AddLeave] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/23/2017 4:34:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/23/2017 4:34:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataBeginYear]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataBeginYear](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[AnnualLeave] [float] NOT NULL,
	[DateBegin] [date] NOT NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_DataBeginYear] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataInOutRaw]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataInOutRaw](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_DataInOutRaw] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InOut]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InOut](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[Intime] [datetime] NOT NULL,
	[OutTime] [datetime] NULL,
	[Date] [date] NOT NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_InOut] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveMonthly]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveMonthly](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[Month] [date] NOT NULL,
	[LeaveAvailable] [tinyint] NULL,
	[LeaveUsed] [tinyint] NULL,
	[LeaveRemain] [tinyint] NULL,
	[LeaveNonPaid] [tinyint] NULL,
	[IsMaterityLeave] [bit] NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_LeaveMonthly] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterLeaveDayCompany]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterLeaveDayCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_MasterLeaveDayCompany] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterLeaveType]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterLeaveType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsPaidLeave] [bit] NULL,
	[IsBussinessLeave] [bit] NULL,
	[LeaveCode] [nvarchar](20) NULL,
	[Description] [nvarchar](200) NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_MasterLeaveType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegisterLeave]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterLeave](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[DateStart] [datetime] NOT NULL,
	[DateEnd] [datetime] NOT NULL,
	[RegisterHour] [float] NULL,
	[Reason] [nvarchar](200) NULL,
	[DateRegister] [datetime] NOT NULL,
	[Status] [tinyint] NULL,
	[UserApprove] [int] NULL,
	[DateApprove] [datetime] NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_RegisterLeave] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Uid] [int] NOT NULL,
	[AspUserId] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[UserPermission] [tinyint] NOT NULL,
	[DateBeginWork] [date] NULL,
	[DateBeginProbation] [date] NULL,
	[DateResign] [date] NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSeniority]    Script Date: 9/23/2017 4:34:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSeniority](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[Year] [int] NULL,
	[Month1] [tinyint] NULL,
	[Month2] [tinyint] NULL,
	[Month3] [tinyint] NULL,
	[Month4] [tinyint] NULL,
	[Month5] [tinyint] NULL,
	[Month6] [tinyint] NULL,
	[Month7] [tinyint] NULL,
	[Month8] [tinyint] NULL,
	[Month9] [tinyint] NULL,
	[Month10] [tinyint] NULL,
	[Month11] [tinyint] NULL,
	[Month12] [tinyint] NULL,
	[UserCreated] [int] NOT NULL,
	[UserUpdated] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_UserSeniority] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'29862AE9-92EE-4AD7-9280-EB6435E62927', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'37757091-18EB-40D4-B852-80B71034CCAB', N'User')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0ae4bb0e-a8c2-467f-a31b-9b17278f54b3', N'trietmai112@gmail.com', 0, N'AI9kuTM9g3TRZ4LFQP26Srz7PFdhxJ4ttk9U3C2gm0MBpBJDWcVYomyi8HoLxk2u7w==', N'b9d1786d-b3ff-4105-a8a7-5d2744f20f00', NULL, 0, 0, NULL, 1, 0, N'trietmai112@gmail.com')
SET IDENTITY_INSERT [dbo].[MasterLeaveType] ON 

INSERT [dbo].[MasterLeaveType] ([Id], [Name], [IsPaidLeave], [IsBussinessLeave], [LeaveCode], [Description], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (1, N'Annual Leave', 1, NULL, N'E_AnnualLeave', NULL, 1, 1, CAST(N'2016-06-06T00:00:00.000' AS DateTime), CAST(N'2016-06-06T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MasterLeaveType] OFF
ALTER TABLE [dbo].[AddLeave]  WITH CHECK ADD  CONSTRAINT [FK_AddLeave_MasterLeaveType] FOREIGN KEY([LeaveTypeId])
REFERENCES [dbo].[MasterLeaveType] ([Id])
GO
ALTER TABLE [dbo].[AddLeave] CHECK CONSTRAINT [FK_AddLeave_MasterLeaveType]
GO
ALTER TABLE [dbo].[AddLeave]  WITH CHECK ADD  CONSTRAINT [FK_AddLeave_User] FOREIGN KEY([Uid])
REFERENCES [dbo].[UserInfo] ([Uid])
GO
ALTER TABLE [dbo].[AddLeave] CHECK CONSTRAINT [FK_AddLeave_User]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[DataBeginYear]  WITH CHECK ADD  CONSTRAINT [FK_DataBeginYear_User] FOREIGN KEY([Uid])
REFERENCES [dbo].[UserInfo] ([Uid])
GO
ALTER TABLE [dbo].[DataBeginYear] CHECK CONSTRAINT [FK_DataBeginYear_User]
GO
ALTER TABLE [dbo].[InOut]  WITH CHECK ADD  CONSTRAINT [FK_InOut_User] FOREIGN KEY([Uid])
REFERENCES [dbo].[UserInfo] ([Uid])
GO
ALTER TABLE [dbo].[InOut] CHECK CONSTRAINT [FK_InOut_User]
GO
ALTER TABLE [dbo].[LeaveMonthly]  WITH CHECK ADD  CONSTRAINT [FK_LeaveMonthly_User] FOREIGN KEY([Uid])
REFERENCES [dbo].[UserInfo] ([Uid])
GO
ALTER TABLE [dbo].[LeaveMonthly] CHECK CONSTRAINT [FK_LeaveMonthly_User]
GO
ALTER TABLE [dbo].[RegisterLeave]  WITH CHECK ADD  CONSTRAINT [FK_RegisterLeave_MasterLeaveType] FOREIGN KEY([LeaveTypeId])
REFERENCES [dbo].[MasterLeaveType] ([Id])
GO
ALTER TABLE [dbo].[RegisterLeave] CHECK CONSTRAINT [FK_RegisterLeave_MasterLeaveType]
GO
ALTER TABLE [dbo].[RegisterLeave]  WITH CHECK ADD  CONSTRAINT [FK_RegisterLeave_User] FOREIGN KEY([Uid])
REFERENCES [dbo].[UserInfo] ([Uid])
GO
ALTER TABLE [dbo].[RegisterLeave] CHECK CONSTRAINT [FK_RegisterLeave_User]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_UserInfo] FOREIGN KEY([AspUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_UserInfo]
GO
ALTER TABLE [dbo].[UserSeniority]  WITH CHECK ADD  CONSTRAINT [FK_UserSeniority_User] FOREIGN KEY([Uid])
REFERENCES [dbo].[UserInfo] ([Uid])
GO
ALTER TABLE [dbo].[UserSeniority] CHECK CONSTRAINT [FK_UserSeniority_User]
GO
