@model mtv_management_leave.Models.Account.ChangePasswordViewModel
@using (Html.BeginForm("Update", "Employee", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "changePassword" }))
{
    Html.ValidationSummary(true);
    Html.AntiForgeryToken();
    <div class="col-sm-12">
        @Html.vPasswordFor(m => m.Password)
        @Html.vPasswordFor(m=> m.ConfirmPassword)
    </div>
}
