@using mtv_management_leave.Models.AvailableLeave
@model SearchRequest
@{
    ViewBag.Title = "Available leave begin year";
}

<div class="card">
    <div class="card-header">
        <h2>@ViewBag.Title<small>You can list available data begin year of user</small></h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">

                <div class="col-sm-2">
                    @Html.vDateTimePickerFor(m => m.Year).SetViewMode(mtv_management_leave.Lib.Common.DateTimePickerViewMode.Year).ToHtml()
                </div>
                <div class="col-sm-6">
                    @Html.vDropDownListFor(m => m.Uids, Html.GetT<List<SelectListItem>>("system", "UserToDropdown"), true, true)
                    @**chen them cai text box o day*@
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-default" id="btn-search"><i class="zmdi zmdi-search"></i> Search</button>
                    <button class="btn btn-primary" id="btn-register"><i class="zmdi zmdi-plus"></i> Register</button>
                    <button class="btn btn-danger" id="btn-delete"><i class="zmdi zmdi-delete"></i> Delete</button>
                </div>
            </div>
        </div>
        @(Html.vBootGridFor()
        .SetName("available-leave-table")
        .SetAjaxUrl("/availablebeginyear/tolist")
        .AddAjaxParameter(typeof(SearchRequest))
        .AddColumnRange(
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Id", FormatJqueryHandler = "validRow", Identify = true, MappingFrom = "Id" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Uid", FormatJqueryHandler = "validRow", Identify = true, MappingFrom = "Uid" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Full name", FormatJqueryHandler = "validRow", MappingFrom = "FullName" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Date Begin", FormatJqueryHandler = "validRowDate", MappingFrom = "DateBegin" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "AnnualLeave", FormatJqueryHandler = "validRow", MappingFrom = "AnnualLeave" }
        )
        .ToHtml()
        )
    </div>
</div>


<div class="modal fade" id="modalRegisterAvailableLeave" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Register Available Begin Year</h2>
            </div>
            <div class="modal-body">
                @*@Html.Action("RegisterLeave")*@
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="modal-save"><i class="zmdi zmdi-save"></i> Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close">
                Close
            </button>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $("#btn-search").click(function (e) {
            $("#available-leave-table").bootgrid("reload");
        });

        $("#btn-register").click(function (e) {
            $("#modalRegisterAvailableLeave").modal("show");
        });
        $("#btn-delete").click(function (e) {
            e.preventDefault();
            toogle("/availablebeginyear/delete");
        })
        var validRow = function (col, row) {
            return row[col.id];
        };

        var validRowDate = function (col, row) {
            return dateConvert(row[col.id]);
        }

        $("#modalRegisterAvailableLeave").on('show.bs.modal', function () {
            var option = {
                url: "/availablebeginyear/registeravailablebeginyear",
                type: "GET"
            };
            $.ajax(option).done(function (data) {
                setupModalBodyFrom(data);
            });
        });

        var setupModalBodyFrom = function (data) {
            $(".modal-body").html(data);
            registerBootstrapControl();
        }

        var registerBootstrapControl = function () {
            $(".modal-body .time-picker").datetimepicker({
                format: "LT", stepping: 15
            });
            $(".modal-body .date-picker").datetimepicker({ format: "MM/DD/YYYY", showTodayButton: true });
            $('.modal-body .selectpicker').selectpicker('render');
        }

        $("#modalRegisterAvailableLeave").on('hidden.bs.modal', function () {
            $(".modal-body").html("");
        });

        $("#modal-save").click(function (e) {
            e.preventDefault();
            var form = $(".modal-body form");
            var url = form.attr("action");
            var data = form.serialize();
            var option = {
                url: url,
                type: "POST",
                data: data
            }
            $.ajax(option).done(function (data) {
                setupModalBodyFrom(data);
                $("#modal-close").click();
            });
        })
        var toogle = function (urlCallback) {
            var selectedIds = $("#available-leave-table").bootgrid("getSelectedRows");
            if (selectedIds.length == 0) return;
            swal({
                title: "Confirm!",
                type: "info",
                text: "Do you want continue?",
                showCloseButton: true,
                showCancelButton: true,
                showConfirmButton: true,
                allowOutsideClick: true,
                showLoaderOnConfirm: true
            }).then(
                function () {

                    var option = {
                        url: urlCallback,
                        data: { Ids: selectedIds },
                        type: "POST"
                    };
                    $.ajax(option)
                        .done(function (data) {
                            console.log(data);
                            alert("Done!");
                        })
                        .error(function (jhx) {
                            showAjaxError(jhx);
                        })
                },
                // handling the promise rejection
                function (dismiss) {
                    console.log("swal confirm closed");
                });
        }
    </script>
}